## Importing Necessary Libraries

In [1]:
import pandas as pd

## Loading Documents

In [2]:
df=pd.read_csv("C:\\Users\\srile\\Downloads\\IMDB Dataset.csv",nrows=100)

In [3]:
df

                                               review sentiment
0   One of the other reviewers has mentioned that ...  positive
1   A wonderful little production. <br /><br />The...  positive
2   I thought this was a wonderful way to spend ti...  positive
3   Basically there's a family where a little boy ...  negative
4   Petter Mattei's "Love in the Time of Money" is...  positive
..                                                ...       ...
95  Daniel Day-Lewis is the most versatile actor a...  positive
96  My guess would be this was originally going to...  negative
97  Well, I like to watch bad horror B-Movies, cau...  negative
98  This IS the worst movie I have ever seen, as w...  negative
99  I have been a Mario fan for as long as I can r...  positive

[100 rows x 2 columns]

## Lower casing

In [4]:
df['review'] = df['review'].str.lower()

In [5]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. <br /><br />the...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

## Removing HTML tags

In [6]:
import re  #Regular Expressions
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [7]:
df['review'] = df['review'].apply(remove_html_tags)

In [8]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. the filming tec...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

## Removing URLs

In [9]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'', text)

In [10]:
df['review'] = df['review'].apply(remove_url)

In [11]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. the filming tec...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

## Removing punctuations

In [12]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:

exclude = string.punctuation

In [14]:

def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [15]:
df['review'] = df['review'].apply(remove_punc1)

In [16]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production the filming tech...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically theres a family where a little boy j...  negative
4   petter matteis love in the time of money is a ...  positive
..                                                ...       ...
95  daniel daylewis is the most versatile actor al...  positive
96  my guess would be this was originally going to...  negative
97  well i like to watch bad horror bmovies cause ...  negative
98  this is the worst movie i have ever seen as we...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

## Removing Stopwords

In [17]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\srile\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [18]:
from nltk.corpus import stopwords

In [19]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [20]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [21]:
df['review'] = df['review'].apply(remove_stopwords)

In [22]:
df

                                               review sentiment
0   one    reviewers  mentioned   watching  1 oz e...  positive
1    wonderful little production  filming techniqu...  positive
2    thought    wonderful way  spend time    hot s...  positive
3   basically theres  family   little boy jake thi...  negative
4   petter matteis love   time  money   visually s...  positive
..                                                ...       ...
95  daniel daylewis    versatile actor alive engli...  positive
96   guess would    originally going    least two ...  negative
97  well  like  watch bad horror bmovies cause  th...  negative
98     worst movie   ever seen  well   worst    pr...  negative
99      mario fan   long    remember    fond memor...  positive

[100 rows x 2 columns]

## Handling Emojis

.If we have emojis in the text, we have two options:
.Removing Emojis. (OR)
.Replacing emojis in the form of text.

In [23]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               "u\U0001F600-\U0001F64F"  # Emotions
                               "u\U0001F300-\U0001F5FF"  # Symbols & pictographs
                               "u\U0001F680-\U0001F6FF"  # Transport & map symbols
                               "u\U0001F1E0-\U0001F1FF"  # Flags(iOS)
                               "u\U00002702-\U000027B0"
                               "u\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [24]:
remove_emoji("Loved the movie, it was 👍")

'Loved the movie, it was '

In [25]:
!pip install emoji

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: emoji in c:\users\srile\appdata\roaming\python\python312\site-packages (2.14.1)

## Tokennization

using split function

In [26]:
# Word Tokenization
a = 'I am going to delhi'
a.split()

['I', 'am', 'going', 'to', 'delhi']

In [27]:
# Sentence Tokenization
b = 'Iam going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great'
b.split('.')

['Iam going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [28]:
# Problem with split function
c = 'I am going to delhi'
c.split()

['I', 'am', 'going', 'to', 'delhi']

In [29]:
d = 'Where do think I should go? I have 3 day holiday'
d.split('.')

['Where do think I should go? I have 3 day holiday']

## Regular Expression

In [30]:
import re

e = 'I am going to delhi'
tokens = re.findall("[\w']+", e)
tokens

<>:4: SyntaxWarning: invalid escape sequence '\w'
<>:4: SyntaxWarning: invalid escape sequence '\w'
C:\Users\srile\AppData\Local\Temp\ipykernel_22276\2949696684.py:4: SyntaxWarning: invalid escape sequence '\w'
  tokens = re.findall("[\w']+", e)

['I', 'am', 'going', 'to', 'delhi']

In [31]:

text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?] ').split(text)
sentences

["Lorem Ipsum is simply dummy text of the printing and typesetting industry?\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

## NLTK

In [32]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [33]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [35]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\srile\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [39]:
sent1='I love to eat chocolates'
word_tokenize(sent1)

['I', 'love', 'to', 'eat', 'chocolates']

In [41]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [ ]:
sent1 = 'I am goind to visit delhi!'
word_tokenize(sent1)